python-dotenv
requests
beautifulsoup4
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-bigquery-storage
flask==3.0.0
flask-cors==4.0.0
gunicorn
pandas
db-dtypes
firebase-admin==6.0.1
tzdata